{block content}

<div class="jumbotron">
    <div class="container" style="height: 100vh; width: 100vw;">
        <h1 class="display-2">
            <b>Z-Bubbles!</b>
        </h1>
        <p class="display-4">
        Revolutionary newsfeed <b>in your language</b>
        </p>

        <div class="home-search">
            {control searchForm}
        </div>
    </div>
</div>