{block content}

<div class="content">
    <div class="container">
        <h2>How to start?</h2>
        <ol>
            <li>Write to our chatbot</li>
            <li>Relax and wait for news</li>
        </ol>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" n:href="Notification:,key=>'example'" role="button">Notification example »</a>
        </p>
    </div>
</div>