{block content}
<div class="content">
    <div class="container">
        <h2>Login for better experience</h2>
        <ul>
            <li>See your subscribtions</li>
            <li>Personal settings</li>
        </ul>


        <a class="btn btn-lg btn-primary" n:href="fbLogin-open!">
            <i class="fa fa-facebook"></i>&nbsp;
            Login using Facebook
        </a>
    </div>
</div>